<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Escolher Produtos
            <a href="/criarFornecedor">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
        
        
        <form action="/adicionarFerramenta" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Adicionar ferramenta para <strong>{{fornecedor.nomeFornecedor}}</strong></legend>
                </div>

                <div class="search-block">
                    <div class="select-block">
                        <div class="select">
                            <label for="nomeFerramenta">Ferramenta:</label>
                            <select name="codFerramenta" id="nomeFerramenta">
                                <option value="" disable="" hidden="">Selecione uma opição</option> 
                                {%for ferramenta in ferramentaLista%}
                                    <option value={{ferramenta.cod_ferramenta}}>{{ ferramenta.nome_ferramenta }} - {{ ferramenta.caracteristica_ferramenta }}</option>
                                {%endfor%}  
                            </select>
                        </div>
                    </div>
                </div>
                <div class="write-block">
                    <label for="diaEntrega">Dias de entrega:</label>
                    <input type="number" id="diaEntrega" name="diaEntrega" min="1" required>
                </div>
                <div class="search-block">
                    <div class="select-block">
                        <div class="select">
                            <label for="qualidadeProduto">Qualidade do produto:</label>
                            <select name="qualidadeProduto" id="qualidadeProduto">
                                <option value="" disable="" hidden="">Selecione uma opição</option> 
                                <option value="OTIMA">Ótima</option>
                                <option value="BOA">Boa</option>
                                <option value="RUIM">Ruim</option>
                                <option value="NS">Não sei</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn_calcular" name="btn_calcular">Selecionar</button>
            </fieldset>

            <div class="foot-dados-Botton">
                <div class="aviso-foot">
                    <p>Caso não tenha achado a ferramenta é possivel cria-la</p>
                </div>
                <div class="acoes-n-banco">
                    <a href="/criarFerramenta" id="cadastrar-banco"> <p>Criar Ferramenta</p> </a>
                </div>
            </div>

        </form>

        {%if tamanhoLista==0 %}

        {%else%}
            <form>
                <fieldset class="foot-dados-Botton">
                    <table class="table-Detalhe">
                        <tr>
                            <th colspan="2">Ferramentas Adicionadados</th>
                        </tr>
                        <tr class="head">
                            <th>Nome do Ferramenta</th>
                            <th>Dias de espera</th>
                        </tr>
                        {%for ferramenta in ferramentaFornecedor%}
                            <tr>
                                <td>{{ferramenta.nomeFerramenta}}</td>
                                <td>{{ferramenta.diaEntrega}} dias</td>
                            </tr>
                        {%endfor%}  
                    </table>
                </fieldset>
                <div class="acoes-n-banco">
                    <a href="/salvarDados" id="cadastrar-banco"> <p>Próximo</p> </a>
                </div>        
            </form> 
        {%endif%}
    </div>
</body>
</html>