<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">        
            <a href="/home" class="button-menu">
                <img src="/imagem/menu/home.png" alt="Página Pricipal">
                <p>Página Principal</p>
            </a>
       
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
             </a>
             <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
             </a>
             <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
             </a>
             <a href="/compra" class="button-menu">
                <img src="" alt="Compra">
                <p>Compra</p>
             </a>
             <a href="/fornecedor" class="button-menu">
                <img src="/imagem/menu/fornecedor.png" alt="Fornecedor">
                <p>Fornecedor</p>
             </a>
              
            <a href="/" class="button-menu">
                <img src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>              
             </a>             
        </div>   
        
    </div>
    
    <div class="main">
        <h1>Fornecedor</h1>

        <form name="FormFornecedor" action="/fornecedor" method="POST">

            <fieldset name="listaFornecedor" class="dados-Top">
                <div class="title">
                    <legend>Escolha uma fornecedor</legend>
                </div>
                <div class="write-block">
                    <label for="codFornecedor">Fornecedor:</label>
                    <select name="codFornecedor" id="codFornecedor" required>
                        <option value="" disable="" hidden="">Selecione uma opção</option>
                        {%for fornecedor in fornecedores%}
                            <option value={{fornecedor.cod_fornecedor}}>{{fornecedor.nome_fornecedor}}</option> 
                        {%endfor%}
                    </select>
                </div>
                <button type="submit" class="btn_calcular" name="btn_calcular">Selecionar</button>
            </fieldset>         
        </form>    
        
        <div class="acoes-n-banco">
            <a href="/criarFornecedor" id="cadastrar-banco"> <p>Criar Fornecedor</p> </a>
        </div>
    </div>
</body>
</html>