<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Fornecedor
            <a href="/fornecedor">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
        
        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>{{fornecedor[0].nome_fornecedor}}</legend>
                </div>
                             
                <div class="read-block">
                    <label for="nomeFornecedor">Nome do Fornecedor:</label>
                    <p class="input">{{fornecedor.nome_fornecedor}}</p>
                </div>
                <div class="read-block">
                    <label for="docFornecedor">CNPJ do Fornecedor:</label>
                    <p class="input">{{fornecedor.doc_fornecedor}}</p>
                </div>
                <div class="read-block">
                    <label for="telefoneFornecedor">Telefone do Fornecedor:</label>
                    <p class="input">{{fornecedor.telefone_fornecedor}}</p>
                </div>
                <div class="read-block">
                    <label for="cepFornecedor">CEP do Fornecedor:</label>
                    <p class="input">{{fornecedor.cep_fornecedor}}</p>
                </div>
                <div class="read-block">
                    <label for="emailFornecedor">E-mail do Fornecedor:</label>
                    <p class="input">{{fornecedor.email_fornecedor}}</p>
                </div> 
                
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados dos Produtos</legend>
                </div>

                <table class="table-Detalhe">
                    <tr class="head">
                        <th>Nome</th>
                        <th>Dias de Entrega</th>
                        <th>Qualidade</th>
                    </tr>
                    
                    {%for insumo in insumos%}
                        <tr>
                            <td>{{insumo.nome_insumo}}</td>
                            <td>{{insumo.dia_entrega}}</td>
                            <td>{{insumo.qualidade_produto}}</td>
                         </tr>   
                    {%endfor%}  
                    
                    {%for ferramenta in ferramentas%}
                        <tr>    
                            <td>{{ferramenta.nome_ferramenta}}</td>
                            <td>{{ferramenta.dia_entrega}}</td>
                            <td>{{ferramenta.qualidade_produto}}</td>
                        </tr>   
                    {%endfor%} 
                </table>
            </fieldset>
        </form>
            
        <div class="botoes-fim-cadastro">
            <a href="/inabilitarFornecedor" id="cancelar-cadastro"> <p>Inabilitar</p> </a>
            <!-- <a href="/editarFornecedor" id="cadastrar-cadastro"> <p>Editar</p> </a> -->
        </div>  
    </div>
</body>
</html>