th,
td{
    border: solid var(--color-text);
    background: var(--color-button-menu);
    border-radius: 0.5rem;
}

table {
    position: relative;
    width: 95%;
}

th {
    padding-left: 5rem;
    padding-right: 5rem;

    font-size: 4rem;
    font-family: Poppins;
    color: var(--color-text);

   
}

.head th{
    font-size: 3rem;        
} 

td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    
    font-size: 2rem;
    font-family: Poppins;
    text-align: center;
    color: var(--color-text);
}

a {
    color: var(--color-link);
}

.table-Detalhe {
    position: relative;

    margin-left: 0.1rem;
    margin-right: auto;
}

.table-Detalhe th{
    padding-left: 4rem;
    padding-right: 4rem;

    font-size: 2rem;
    font-family: Poppins;
    color: var(--color-text);

    border-width: thin;
}

.table-Detalhe .head th{
    font-size: 1.5rem;        
} 

.table-Detalhe td {
    font-size: 1.5rem;
    font-family: Poppins;
    text-align: center;
    color: var(--color-text);

    border-width: thin;
}

#tabela-financiamento {
    margin: 0;
    padding: 0;
}

#tabela-financiamento td{
    border-width: thin;
    font-size: 150%;
    margin: 0;
    padding: 0 0.5rem;
}

#tabela-financiamento .titulo {
    
    font-weight: bolder;
}

#tabela-financiamento .carencia {
    background-color: #FFF976 ;
}

#tabela-financiamento .parcela {
    background-color: #AEFF47;
}

#tabela-financiamento #tempo{
    padding: 0 1rem;
}

.legenda{
    position: relative;
    float: right;

    border-style: solid;
    border-width: thin;
    border-radius: 0.8rem;

    width: 30%;
    padding: 0.5rem;
    margin-right: 4rem;
    margin-top: 2rem;
}



.legenda p{
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Poppins;
}

.legenda .legCarencia,
.legenda .legParcela,
.legenda .legFalta {
    height: 2rem;
}

.legenda .legCarencia{
    background-color: #FFF976;
}

.legenda .legParcela{
    background-color: #AEFF47;
}

.legenda .legFalta {
    background-color: #FFA347;
}

td.suficiente {
    background-color: #AEFF47;
}
td.insuficiente {
    background-color: #FFF976;
}
td.falta {
    background-color: #FFA347;
}

.main .button-main  {
    margin-top: 3rem;
    margin-left: 9rem;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    justify-content: center;
    text-align: center;

    width: 75%;

    background: var(--color-secondary);

    border-radius: 0.8rem;
}

.main .button-main a{
    display: block;
}


.main .button-main:hover{
    transition: 0.2s;
    background: var(--color-secondary-dark);
}

.main .button-main a {
    justify-content: center;
    text-align: center;

    font-size: 4rem;

    color: #000000;
    font-family: Poppins;
    text-decoration: none;

}