<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">

        <h1>Estufa
            <a href="/estufa">
                <img src="/imagem/voltar.png" alt="Voltar">
                Voltar
            </a>
        </h1>

        <form action="/colherInsumo" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Produto</legend>
                </div>
                <div class="read-block">
                    <label for="nomeProduto">Nome do Produto:</label>
                    <p class="input">{{produto.nome_Hortalica}}</p>
                </div>
               <div class="write-block">
                    <label for="quantProduto">Quantidade de produto Colido:</label>
                    <input type="number" id="quantProduto" name="quantProduto" min='1' required>
                </div>
                <div class="read-block">
                    <label for="dtPlantio">Data de Plantio:</label>
                    <p class="input">{{produto.dt_Plantio}}</p>
                </div> 
                <div class="read-block">
                    <label for="diasProducao">Dias de Produção:</label>
                    <p class="input">{{days}}</p>
                </div>
                <div class="read-block">
                    <label for="nomeColaborador">Nome do {{produto.tipo_Usuario}}:</label>
                    <p class="input">{{produto.nome_Usuario}}</p>
                </div>

            </fieldset>
            <div class="foot-dados-Botton">
                <div class="aviso-foot">
                    <img src="/imagem/aviso.png" alt="Aviso">
                    <p>Se o produto já estivar pronto para colher.</p>
               </div>

                <button class="button-colher">
                    <img src="/imagem/hortalica.png" alt="Insumo">
                    <p>Colher Produto</p>
                </button>
            </div> 

        </form>
    </div>
</body>
</html>