<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>Plantação</h1>
        <form action="/detalheInsumo" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Busca do produto:</legend>
                </div>
                
                <div class="search-block">
                    <div class="select">
                        <label for="codPosicao">Produto:</label>
                        <select name="codPlantio" id="codPlantio" required>
                            <option value="" disable="" hidden="">Selecione uma opção</option> 
                            {%for produto in producao%}
                                <option value={{produto.cod_Plantacao_Hortalica}}>{{produto.cod_Plantacao_Hortalica}} - {{produto.nome_Hortalica}}</option>
                            {%endfor%}  
                        </select>
                    </div>
                    <button type="submit" class="salvar">
                        <img src="/imagem/procurar.png" alt="Buscar">
                    </button>
                </div>
            </fieldset>
            <fieldset class="dados-Top">
                <table class="table-Detalhe">
                    <thead>
                        <tr>
                            <th colspan="4">O que está sendo produzido</th>
                        </tr>
                        <tr class="head">
                            <th>Códido</th>
                            <th>Nome da Produto</th>
                            <th>Quantidade</th>
                            <th>Dias de Produção</th>
                        </tr>
                        <tr>
                            {%for produto in producao%}
                                <tr>
                                    <td>{{produto.cod_Plantacao_Hortalica}}</td>
                                    <td>{{produto.nome_Hortalica}}</td>
                                    <td>{{produto.quant_Plantada}}</td>
                                    <td>{{produto.dt_Plantio}}</td>
                                </tr>   
                            {%endfor%} 
                        </tr>
                    </thead>
                </table>
            </fieldset>

            <div class="button-main">
                <a href="/aplicarInsumo">Aplicar Insumo</a>
            </div>
        </form>

        <div class="foot-dados-Botton">
            <div class="aviso-foot">
                <p>Visualizar os planos de produção</p>
            </div>
            <div class="acoes-n-banco">
                <a href="/planoProducao" id="cadastrar-banco"> <p>Plano do Produção</p> </a>
            </div>
        </div>
    </div>
</body>
</html>