<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">        
            <a href="/home" class="button-menu">
                <img src="/imagem/menu/home.png" alt="Página Pricipal">
                <p>Página Principal</p>
            </a>
       
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
             </a>
             <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
             </a>
             <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
             </a>
              
            <a href="/" class="button-menu">
                <img src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>              
             </a>             
        </div>   
        
    </div>
    
    <div class="main">
        <h1>Ativo Permanente</h1>

        <table id="tabela-itens-balanco">
            <tr>
                <td class="indent">Nome</td>
                <td class="indent">Valor</td>
                <td class="indent">Última Atualização</td>
            </tr>
            {%for ativo in ativos%}
                <tr>
                    <td class="valor">{{ativo.nome_ativo}}</td>
                    <td class="valor">R$ {{ativo.valor_ativo}}</td>
                    <td class="valor">{{ativo.data_ativo}}</td>
                </tr>
            {%endfor%}
            <tr>
                <td class="total" colspan="3"> <strong>Total:</strong>  R$ {{totalAtivo}}</td>
            </tr>
        </table> 
    </div>
</body>
</html>