<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>Ativo Circulante</h1>

        <table id="tabela-itens-balanco">
            <tr>
                <td class="indent">Nome</td>
                <td class="indent">Valor</td>
                <td class="indent">Última Atualização</td>
            </tr>

            {%for ativo in ativos%}
                <tr>
                    <td class="valor">{{ativo.nome_ativo}}</td>
                    <td class="valor">R$ {{ativo.valor_ativo}}</td>
                    <td class="valor">{{ativo.data_ativo}}</td>
                </tr>
            {%endfor%}
            <tr>
                <td class="total" colspan="3"> <strong>Total:</strong>  R$ {{totalAtivo}}</td>
            </tr>
        </table> 

        {%if tamanhoAtivo==1%}
        <div class="acoes-n-banco">
            <a href="/criarConta" id="cadastrar-banco"> <p>Criar Conta Bancária</p> </a>
        </div>
            
        {%else%}
            {%if tamanhoAtivo>1%}
                <div class="acoes-banco" id="container-para-bancos">
                    <a href="/depositar" id="deposito"> <p>Depositar</p> </a>
                    <a href="/sacar" id="saque"> <p>Sacar</p> </a>
                    <a href="/transferir" id="saque"> <p>Transferir</p> </a>                
                </div>
            {%else%}
                <div class="acoes-banco" id="container-para-bancos">
                    <a href="/depositar" id="deposito"> <p>Depositar</p> </a>
                    <a href="/sacar" id="saque"> <p>Sacar</p> </a>               
                </div>
            {%endif%}

            <div class="acoes-n-banco">
                <a href="/criarConta" id="cadastrar-banco"> <p>Criar Conta Bancária</p> </a>
                <a href="/excluirConta" id="fechar-banco"> <p>Excluir Conta Bancária</p> </a>
            </div>
        {%endif%}
        
        
    </div>
    <script></script>
</body>
</html>