<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">        
            <a href="/home" class="button-menu">
                <img src="/imagem/menu/home.png" alt="Página Pricipal">
                <p>Página Principal</p>
            </a>
       
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
             </a>
             <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
             </a>
             <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
             </a>
              
            <a href="/" class="button-menu">
                <img src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>              
             </a>             
        </div>   
        
    </div>
    
    
    <div class="main">
        <h1>
            Cadastrar Financiamento
            
        </h1>
    
        <form name="FormFinanciamento" action="/criarConta" method="POST">
            <fieldset  id="dados-Parcelas" class="dados-Botton">
                <div class="title">
                    <legend>{{titulo}}</legend>
                </div>

                <table id="tabela-financiamento">
                    <tr>
                        <td id="tempo" class="titulo">Nome Conta</td>
                        <td class="titulo">Valor Conta</td>
                        <td class="titulo">Data Vencimento</td>
                    </tr>
                    {%for registro in resultadoConta%}
                        <tr>
                            <td class="{{registro.tipoConta}}">{{registro.tempo}} ({{registro.tipoConta}}) </td>
                            <td class="{{registro.tipoConta}}">R${{registro.valor}}</td>
                            <td class="{{registro.tipoConta}}">{{registro.diaPagamento}} / {{registro.mesPagamento}} / {{registro.anoPagamento}}</td>
                        </tr>
                    {%endfor%}
                </table>  
                
                <div class="legenda">
                    <div class="legCarencia"><p>Período de Carências</p></div>
                
                    <div class="legParcela"><p>Período de Quitação</p></div>
                </div>            
            </fieldset>

            <a href="/salvarFinanciamento" class="btn_salvar" name="btn_salvar">Salvar Financiamento</a>
        </form>  
    </div>

    
</body>
<script language="JavaScript">
    
    function semCarencia() {
        document.getElementById('valor-carencia').style.visibility = 'hidden';
    }

    function comCarencia() {
        document.getElementById('valor-carencia').style.visibility = 'visible';
    }
</script>
</html>