<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">        
            <a href="/home" class="button-menu">
                <img src="/imagem/menu/home.png" alt="Página Pricipal">
                <p>Página Principal</p>
            </a>
       
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
             </a>
             <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
             </a>
             <a href="/financas" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
             </a>
              
            <a href="/" class="button-menu">
                <img src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>              
             </a>             
        </div>   
        
    </div>

    <div class="main">
        <h1>
            Cadastrar Saida
            <a href="/saida">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form action="/cadastrarSaida" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados Saida</legend>
                </div>
                <div class="write-block">
                    <label for="nomeSaida">Noma da Saida:</label>
                    <input type="text" id="nomeSaida" name="nomeSaida" required>
                </div>
                <div class="write-block">
                    <label for="valorSaida">Valor da Saida:</label>
                    <input type="number" id="valorSaida" name="valorSaida" step=".01" placeholder="R$ 0000.00" required>
                </div>
                
                <div class="write-block">
                    <label for="dtPagamento">Data da Saida:</label>
                    <input type="date" id="dtPagamento" name="dtPagamento" required>
                </div> 
                <div class="radio-block">
                    <label for="caracteristicaPagamento">Pagamento:</label>
                    <p>
                        <label onclick="semCarencia()">
                            <input type="radio" id="diaUtio" name="caracteristicaPagamento" value="0" checked> Apenas em dia útil
                        </label>
                    </p>
                    <p>
                        <label onclick="comCarencia()">
                            <input type="radio" id="qualqueDia" name="caracteristicaPagamento" value="1"> Qualque dia 
                        </label>
                    </p>
                </div>
            </fieldset>
            
            <div class="botton-foot">

                <button type="submit" class="button-Salvar">
                    Salvar Cadastro
                </button>  
            </div>
        </form>        
    </div>
</body>
</html>