<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css"> 
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">        
            <a href="/home" class="button-menu">
                <img src="/imagem/menu/home.png" alt="Página Pricipal">
                <p>Página Principal</p>
            </a>
        
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
       
            <a href="/estufa" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantacao">
                <p>Plantação</p>
            </a>
        
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            
            <a href="/financas" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Finanças</p>
             </a>
           
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/fornecedor.png" alt="Fornecedor">
                <p>Fornecedor</p>
            </a>
    
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/cliente.png" alt="Cliente">
                <p>Cliente</p>
            </a>
            
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
              </a>

            <a href="/atividade" class="button-menu">
                <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                <p>Ajuda</p>
            </a>
              
            <a href="/" class="button-menu">
                <img src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>              
             </a>             
        </div>   
        
    </div>
    
    
    <div class="main">
        <h1>
            Armazém 
            <a href="/detalheHortalica">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form action="/editarHortalica" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Armazém</legend>
                </div>
                <div class="read-block">
                    <label for="nomeHortalica">Nome da Hortaliça:</label>
                    <p class="input">{{hortalica.nome_Hortalica}}</p>
                </div>
               <div class="write-block">
                    <label for="quantRestante">Quantidade de {{hortalica.nome_Hortalica}} por {{hortalica.contagem_Hortalica}}:</label>
                    <input type="text" id="quantRestante" name="quantRestante" value='{{hortalica.quant_Restante_Hortalica}}' required>
                </div>
                <div class="write-block">
                    <label for="valorHortalica">Valor por {{hortalica.contagem_Hortalica}}:</label>
                    <input type="text" id="valorHortalica" name="valorHortalica" value='{{hortalica.valor_Hortalica}}' required>
                </div>
            </fieldset>
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da Produção</legend>
                </div>
                <div class="read-block">
                    <label for="nomeColaborador">Nome do {{hortalica.tipo_Usuario}}:</label>
                    <p class="input">{{hortalica.nome_Usuario}}</p>
                </div>
                <div class="read-block">
                    <label for="tempoProducao">Tempo de Produção:</label>
                    <p class="input">{{days}} {{contagem}}</p>
                </div>
            </fieldset>

            <button class="button-Salvar" type="submit" class="button-Salvar">Salvar</button>       
        </form>

    </div>
</body>
</html>