<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css"> 
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">      
        <h1>Escolha uma opção</h1>
        <div class="botoes">
            <button id="celeiro" class="button-menu">
                <a href="/celeiro">
                    <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                    Celeiro
                </a>
            </button>

            <button id="estufa" class="button-menu">
                <a href="/estufa">
                    <img src="/imagem/menu/estufa.png" alt="Estufa">
                    Estufa
                </a>
            </button>

            <button id="armazem" class="button-menu">
                <a href="/armazem">
                    <img src="/imagem/menu/armazem.png" alt="Armazem">
                    Armazém
                </a>
            </button>

            <button id="compra" class="button-menu">
                <a href="/compra">
                    <img src="/imagem/menu/compra.png" alt="Compra">
                    Compra
                </a>
            </button> 

            <button id="venda" class="button-menu">
                <a href="/venda">
                    <img src="/imagem/menu/vender.png" alt="Venda">
                    Venda
                </a>
            </button>
            
            <button id="colaborador" class="button-menu">
                <a href="/colaborador">
                    <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                    Colaborador
                </a>
            </button>
                        
            <button id="relatorio" class="button-menu">
                <a href="/relatorio">
                    <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                    Relatório
                </a>
            </button>
            
            <button id="atividade" class="button-menu">
                <a href="/atividade">
                    <img src="/imagem/menu/atividade.png" alt="Atividade">
                    Atividade 
                </a>
            </button>

            <button id="ajuda" class="button-menu">
                <a href="/atividade">
                    <img src="/imagem/menu/ajuda.png" alt="Atividade">
                    Ajuda 
                </a>
            </button>
            
        </div>   
        <div id="footer">
            <button class="button-menu-exit">
                <a href="/">
                    <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                    <p>Sair</p>
                </a> 
            </button>

            <button class="button-menu-perfil">
                <a href="/perfil">
                    <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                    <p>Perfil</p>
                </a>
            </button> 
        </div>
    </div>
    
    <div class="main">
        <h1>
            Estufa 
            <a href="estufa.html">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form action="/buscarInsumo" method="POST">
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Escolha do Insumo</legend>
                </div>

                <div class="search-block">
                    <div class="select-block">
                        <div class="select">
                            <label for="codPosicao">Nome do Insumo:</label>
                            <select name="codPosicao" id="codPosicao" required>
                                <option value="" disable="" hidden="">Selecione uma opção</option> 
                                {%for insumo in listaInsumo%}
                                    <option value={{insumo.cod_posicao_celeiro}}>{{ insumo.nome_Insumo }} - {{insumo.nome_Fornecedor}}</option>
                                {%endfor%}  
                            </select>
                        </div>
                        <button type="submit">
                            <img src="/imagem/procurar.png" alt="Adicionar">
                        </button>
                    </div>
                </div>
                
                <div class="foot-dados-Botton">
                    <div class="aviso-foot">
                         <img src="/imagem/aviso.png" alt="Aviso">
                         <p>Caso não tenha achado o insumo é possivel compra-lo.</p>
                    </div>
                    <a href="/realizarCompra">
                        <img src="/imagem/insumo.png" alt="Insumo">
                        <p>Comprar Insumo</p>
                    </a>
                </div>
            </fieldset>
        </form>

        <form action="/aplicarInsumo" method="POST">
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da aplicação: <strong>{{Insumo.nome_Insumo}}</strong></legend>
                </div>
                <div class="read-block">
                    <label for="nomeInsumo">Nome do Insumo:</label>
                    <p class="input">{{Insumo.nome_Insumo}}</p>
                </div>
                <div class="read-block">
                    <label for="nomeInsumo">Nome do Fornecedor:</label>
                    <p class="input">{{Insumo.nome_Fornecedor}}</p>
                </div>
                <div class="write-block">
                    <label for="quantInsumo">Quantidade de Insumo em {{Insumo.contagem_Insumo}}:</label>
                    <input type="number" id="quantInsumo" name="quantInsumo" min="1" max={{Insumo.quant_Insumo}} required>
                </div>
            </fieldset>
            <button type="submit" class="button-Salvar">Aplicar</button>       
        </form>

    </div>
</body>
</html>