<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/style/main.css">
    <link rel="stylesheet" href="../../public/style/mainStyle.css"> 
    <link rel="stylesheet" href="../../public/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="celeiro.html">
                <img src="../../public/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="armazem.html">
                <img src="../../public/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="compra.html">
                <img src="../../public/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="venda.html">
                <img src="../../public/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="colaborador.html">
                <img src="../../public/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="estufa.html">
                <img src="../../public/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="relatorio.html">
                <img src="../../public/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="atividades.html">
                <img src="../../public/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="loginPage.html">
                <img class="footer" src="../../public/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="perfil.html">
                <img class="footer" src="../../public/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Armazém 
            <a href="armazemDetalhe.html">
                <img src="../../public/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form method="UPDATE">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Armazém</legend>
                </div>
                <div class="read-block">
                    <label for="nomeHortalca">Nome:</label>
                    <input type="text" id="nomeHortalica" name="nomeHortalica" value="alface" readonly>
                </div>
               <div class="write-block">
                    <label for="quantRestante">Quantidade:</label>
                    <input type="text" id="quantRestante" name="quantRestante" value="50 pés">
                </div>
                <div class="write-block">
                    <label for="valor">Valor:</label>
                    <input type="text" id="valor" name="valor" value="R$ 2.00 por pé">
                </div>
                <div class="write-block">
                    <label for="validade">Validade:</label>
                    <input type="date" id="validade" name="validade" value="2020-10-25">
                </div> 
            </fieldset>

            <button type="submit" class="button-Salvar">
                <a href="armazemDetalhe.html">Salvar</a>
            </button>       
        </form>

    </div>
</body>
</html>