<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/style/main.css">
    <link rel="stylesheet" href="../../public/style/mainStyle.css">
    <link rel="stylesheet" href="../../public/style/pagetable.css">
    <link rel="stylesheet" href="../../public/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="celeiro.html">
                <img src="../../public/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="armazem.html">
                <img src="../../public/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="compra.html">
                <img src="../../public/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="venda.html">
                <img src="../../public/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="colaborador.html">
                <img src="../../public/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="estufa.html">
                <img src="../../public/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="relatorio.html">
                <img src="../../public/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="atividades.html">
                <img src="../../public/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="loginPage.html">
                <img class="footer" src="../../public/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="perfil.html">
                <img class="footer" src="../../public/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Colaborador
            <a href="colaborador.html">
                <img src="../../public/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Colaborador</legend>
                </div>
                <div class="write-block">
                    <label for="nomeColaborador">Nome:</label>
                    <input type="text" id="nomeColaborador" name="nomeColaborador" value="Matheus de Barros Santos">
                </div>
               <div class="write-block">
                    <label for="cpfColaborador">CPF Colaborador:</label>
                    <input type="text" id="cpfColaborador" name="cpfColaborador" value="440.998.787-23">
                </div>
                <div class="write-block">
                    <label for="telefoneColaborador">Telefone Colaborador:</label>
                    <input type="text" id="telefoneColaborador" name="telefoneColaborador" value="(11)99898-6544">
                </div>
                <div class="write-block">
                    <label for="dtNasciamntoColaborador">Validade:</label>
                    <input type="date" id="dtNasciamntoColaborador" name="dtNasciamntoColaborador" value="1980-08-02">
                </div> 
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da Acesso</legend>
                </div>
                <div class="write-block">
                    <label for="emailColaborador">Email Colaborador:</label>
                    <input type="text" id="emailColaborador" name="emailColaborador" value="matheus.santos@gmail.com">
                </div>
                <div class="write-block">
                    <label for="funcaoColaborador">Função do Colaborador:</label>
                    <input type="text" id="funcaoColaborador" name="funcaoColaborador" value="Colaborador Financeiro">
                </div>
                <div class="write-block">
                    <label for="dtAdmissao">Data de Admissão:</label>
                    <input type="date" id="dtAdmissao" name="dtAdmissao" value="2020-02-02" readonly>
                </div>
            </fieldset>

            <div class="botton-foot">

                <button type="submit" class="button-Salvar">
                    <a href="colaborador.html">Salvar Cadastro</a>
                </button>  
            </div>
        </form>        
    </div>
</body>
</html>