<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="/celeiro">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="/armazem">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="/compra">
                <img src="/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="/venda">
                <img src="/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/colaborador">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/estufa">
                <img src="/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/relatorio">
                <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/atividade">
                <img src="/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="/">
                <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="/perfil">
                <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>Compra</h1>

        <form action="/detalhePedido" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Busca do Pedido</legend>
                </div>
                <div class="select-block">
                    <div class="select">
                        <label for="codPedido">Pedido:</label>
                        <select name="codPedido" id="codPedido">
                            <option value="" disable="" hidden="">Selecione uma opção</option> 
                            {%for pedido in listaPedido%}
                                <option value={{pedido.cod_Pedido_Compra}}>{{pedido.cod_Pedido_Compra}} - {{pedido.nome_Fornecedor }}</option>
                            {%endfor%}  
                        </select>
                    </div>
                    <button type="submit" class="salvar">
                        <img src="/imagem/procurar.png" alt="Buscar">
                    </button>
                </div>
            </fieldset>
            <fieldset class="dados-Button">
                <table class="table-Detalhe">
                    <thead>
                        <tr>
                            <th colspan="3">Aguardando entrega...</th>
                        </tr>
                        <tr class="head">
                            <th>Codido do Pedido</th>
                            <th>Nome do Fornecedor</th>
                            <th>Data do Pedido</th>
                        </tr>
                        <tr>
                            {%for pedido in listaPedido%}
                                <tr>
                                    <td>{{pedido.cod_Pedido_Compra}}</td>
                                    <td>{{pedido.nome_Fornecedor}}</td>
                                    <td>{{pedido.dt_Pedido_Compra}}</td>
                                </tr>   
                            {%endfor%} 
                        </tr>
                    </thead>
                </table>
            </fieldset>
        </form>
        
        <div class="button-main">
            <a href="/realizarCompra">Comprar</a>
        </div>
    </div>
</body>
</html>