<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/style/main.css">
    <link rel="stylesheet" href="../../public/style/mainStyle.css">
    <link rel="stylesheet" href="../../public/style/pagetable.css">
    <link rel="stylesheet" href="../../public/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="celeiro.html">
                <img src="../../public/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="armazem.html">
                <img src="../../public/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="compra.html">
                <img src="../../public/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="venda.html">
                <img src="../../public/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="colaborador.html">
                <img src="../../public/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="estufa.html">
                <img src="../../public/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="relatorio.html">
                <img src="../../public/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="atividades.html">
                <img src="../../public/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="loginPage.html">
                <img class="footer" src="../../public/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="perfil.html">
                <img class="footer" src="../../public/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Compra
            <a href="compra.html">
                <img src="../../public/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Pedido</legend>
                </div>
                <div class="read-block">
                    <label for="dataEntrega">Nome:</label>
                    <input type="text" id="dataEntrega" name="dataEntrega" value="10/09/2020" readonly>
                </div>
               <div class="read-block">
                    <label for="nomeColaborador">Colaborador Financeiro:</label>
                    <input type="text" id="nomeColaborador" name="nomeColaborador" value="Matheus de Barros Santos" readonly>
                </div>
                <div class="read-block">
                    <label for="tempoEntrega">Valor:</label>
                    <input type="text" id="tempoEntrega" name="tempoEntrega" value="5 dias" readonly>
                </div>
                <div class="read-block">
                    <label for="dataCompra">Data da Compra:</label>
                    <input type="date" id="dataCompra" name="dataCompra" value="2020-09-05" readonly>
                </div> 
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados do Fornecedor</legend>
                </div>
                <div class="read-block">
                    <label for="nomeFornecedor">Nome do Fornecedor:</label>
                    <input type="text" id="nomeFornecedor" name="nomeFornecedor" value="Adubos Fertipol Indústria e Comércio" readonly>
                </div>
                <div class="read-block">
                    <label for="docFornecedor">CNPJ:</label>
                    <input type="text" id="docFornecedor" name="docFornecedor" value="09.122.329/0001-08" readonly>
                </div>
                <div class="read-block">
                    <label for="telefoneFornecedor">Telefone:</label>
                    <input type="text" id="telefoneFornecedor" name="telefoneFornecedor" value="(11) 3251-1266" readonly>
                </div>
                <div class="read-block">
                    <label for="cepFornecedor">CEP:</label>
                    <input type="text" id="cepFornecedor" name="cepFornecedor" value="01310-200" readonly>
                </div>

                <table class="table-Detalhe">
                    <tr>
                        <th colspan="5">Itens do Pedido de Compra</th>
                    </tr>
                    <tr class="head">
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Validade</th>
                        <th>Valor</th>
                    </tr>
                    <tr>
                        <td>muda de alface</td>
                        <td>plantar</td>
                        <td>50 mudas</td>
                        <td>15/09/2020</td>
                        <td>R$ 300.00</td>
                    </tr>
                    <tr>
                        <td>muda de beterraba</td>
                        <td>plantar</td>
                        <td>50 mudas</td>
                        <td>15/09/2020</td>
                        <td>R$ 300.00</td>
                    </tr>
                    <tr>
                        <td>semente cenoura</td>
                        <td>plantar</td>
                        <td>7 Kg</td>
                        <td>15/09/2020</td>
                        <td>R$ 100.00</td>
                    </tr>
                </table>
            </fieldset>
        </form>        
    </div>
</body>
</html>