<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="/celeiro">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="/armazem">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="/compra">
                <img src="/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="/venda">
                <img src="/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/colaborador">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/estufa">
                <img src="/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/relatorio">
                <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/atividade">
                <img src="/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="/">
                <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="/perfil">
                <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Compra
            <a href="compraComprar.html">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
        
        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Finalizar Compra</legend>
                </div>
                <div class="read-block">
                    <label for="nomeColaborador">Nome Colaborador:</label>
                    <input type="text" id="nomeColaborador" name="nomeColaborador" value="Matheus de Barros Santos" readonly>
                </div>
                <div class="read-block">
                    <label for="dataCompra">Data da Compra:</label>
                    <input type="text" id="dataCompra" name="dataCompra" value="2020/09/09" readonly>
                </div>
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados do Fornecedor</legend>
                </div>
                <div class="read-block">
                    <label for="nomeFornecedor">Nome Fornecedor:</label>
                    <input type="text" id="nomeFornecedor" name="nomeFornecedor" value="Adubos Fertipol Indústria e Comércio" readonly>
                </div>
                <div class="read-block">
                    <label for="docFornecedor">CNPJ:</label>
                    <input type="text" id="docFornecedor" name="docFornecedor" value="09.122.329/0001-08" readonly>
                </div>
                <div class="read-block">
                    <label for="telefoneFornecedor">Telefone:</label>
                    <input type="text" id="telefoneFornecedor" name="telefoneFornecedor" value="(11) 3251-1266" readonly>
                </div>
                <div class="read-block">
                    <label for="cepFornecedor">CEP:</label>
                    <input type="text" id="cepFornecedor" name="cepFornecedor" value="01310-200" readonly>
                </div>
          
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados do Insumo</legend>
                </div>

                <table class="table-Detalhe">
                    <tr class="head">
                        <th>Nome</th>
                        <th>Validade</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                    </tr>
                    <tr>
                        <td>adubo nitrogênado</td>
                        <td>2020/09/30</td>
                        <td>5 Kg</td>
                        <td>R$ 100.00</td>
                    </tr>
                    <tr>
                        <td>adubo fosfatado</td>
                        <td>2020/09/30</td>
                        <td>5 Kg</td>
                        <td>R$ 150.00</td>
                    </tr>
                </table>
                <div class="foot-block">
                    <label for="totalCompra">Total da Compra:</label>
                    <input type="text" id="totalCompra" name="totalCompra" value="RS 250.00" readonly>
                </div>
            </fieldset>
            
            <div class="botton-foot">
                <button type="submit" class="button-Cancelar">
                    <a href="compra.html">Cancelar</a>
                </button>  

                <button type="submit" class="button-Salvar">
                    <a href="compra.html">Salvar</a>
                </button>  
            </div>

        </form> 
    </div>
</body>
</html>