<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="/celeiro">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="/armazem">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="/compra">
                <img src="/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="/venda">
                <img src="/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/colaborador">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/estufa">
                <img src="/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/relatorio">
                <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/atividade">
                <img src="/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="/">
                <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="/perfil">
                <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Compra
            <a href="/compra">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Pedido</legend>
                </div>
                <div class="read-block">
                    <label for="nomeUsuario">Nome do {{pedido.tipo_Usuario}}</label>
                    <p class="input">{{pedido.nome_Usuario}}</p>
                </div>
                <div class="read-block">
                    <label for="tempoEntrega">Data do Pedido:</label>
                    <p class="input">{{pedido.dt_Pedido_Compra}}</p>
                </div>
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados do Fornecedor</legend>
                </div>
                <div class="read-block">
                    <label for="nomeFornecedor">Nome do Fornecedor:</label>
                    <p class="input">{{fornecedor.nome_Fornecedor}}</p>
                </div>
                <div class="read-block">
                    <label for="docFornecedor">CNPJ do Fornecedor:</label>
                    <p class="input">{{fornecedor.doc_Fornecedor}}</p>
                </div>
                <div class="read-block">
                    <label for="telefoneFornecedor">Telefone do Fornecedor:</label>
                    <p class="input">{{fornecedor.telefone_Fornecedor}}</p>
                </div>
                <div class="read-block">
                    <label for="cepFornecedor">CEP do Fornecedor:</label>
                    <p class="input">{{fornecedor.cep_Fornecedor}}</p>
                </div>
                <div class="read-block">
                    <label for="cepFornecedor">Email do Fornecedor:</label>
                    <p class="input">{{fornecedor.email_Fornecedor}}</p>
                </div>

                <table class="table-Detalhe">
                    <tr>
                        <th colspan="5">Itens do Pedido de Compra</th>
                    </tr>
                    <tr class="head">
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                    </tr>
                    {%for Item in Itens%}
                        <tr>
                            <td>{{Item.nome_Insumo}}</td>
                            <td>{{Item.quant_Total_Insumo}} {{Item.contagem_Insumo}}</td>
                            <td>R$ {{Item.valor_Item}}</td>
                        </tr>
                    {%endfor%}
                </table>
                <div class="read-block">
                    <label for="valorCompra">Valor do Pedido:</label>
                    <p class="input">{{pedido.total_Compra}}</p>
                </div>
            </fieldset>
        </form> 
        
        <div class="button-Salvar">
            <a href="/entrarCeleiro">
                <img src="/imagem/aprovar.png" alt="Entregue">
                Pedido Entregue
            </a>
        </div>
    </div>
</body>
</html>