<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/style/main.css">
    <link rel="stylesheet" href="../../public/style/mainStyle.css">
    <link rel="stylesheet" href="../../public/style/pagetable.css">
    <link rel="stylesheet" href="../../public/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="celeiro.html">
                <img src="../../public/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="armazem.html">
                <img src="../../public/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="compra.html">
                <img src="../../public/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="venda.html">
                <img src="../../public/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="colaborador.html">
                <img src="../../public/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="estufa.html">
                <img src="../../public/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="relatorio.html">
                <img src="../../public/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="atividades.html">
                <img src="../../public/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="loginPage.html">
                <img class="footer" src="../../public/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="perfil.html">
                <img class="footer" src="../../public/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Compra
            <a href="compra.html">
                <img src="../../public/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
        
        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados da Compra</legend>
                </div>
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados do Fornecedor</legend>
                </div>
                <div class="select-block">
                    <div class="select">
                        <label for="nomeFornecedor">Nome do Fornecedor:</label>
                        <select name="nomeFornecedor" id="nomeFornecedor">
                            <option>Selecione uma opição</option>
                            <option value="0">Adubos Fertipol Indústria e Comércio</option> 
                            <option value="1">Toca do Verde</option>
                            <option value="2">Bom Cultivo</option>
                        </select>
                    </div>
                    <button type="submit">
                        <img src="../../public/imagem/mais.png" alt="Adicionar">
                    </button>
                </div>
                <div class="read-block">
                    <label for="nomeFornecedor">CNPJ:</label>
                    <input type="text" id="nomeFornecedor" name="nomeFornecedor" value="Adubos Fertipol Indústria e Comércio" readonly>
                </div>
                <div class="read-block">
                    <label for="docFornecedor">Telefone:</label>
                    <input type="text" id="docFornecedor" name="docFornecedor" value="09.122.329/0001-08" readonly>
                </div>
                <div class="read-block">
                    <label for="telefoneFornecedor">Telefone:</label>
                    <input type="text" id="telefoneFornecedor" name="telefoneFornecedor" value="(11) 3251-1266" readonly>
                </div>
                <div class="read-block">
                    <label for="cepFornecedor">CEP:</label>
                    <input type="text" id="cepFornecedor" name="cepFornecedor" value="01310-200" readonly>
                </div>

                <div class="foot-dados-Botton">
                    <div class="aviso-foot">
                         <img src="../../public/imagem/aviso.png" alt="Aviso">
                         <p>Caso não tenha achado o Fornecedor é possivel adiciona-lo</p>
                    </div>
                    <a href="compraCriarFornecedor.html">
                        <img src="../../public/imagem/fornecedor.png" alt="Fornecedor">
                        <p>Adicionar Fornecedor</p>
                    </a>
                </div>               
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Inserção dos Insumo</legend>
                </div>

                <div class="select-block">
                    <div class="select">
                        <label for="nomeInsumo">Insumo:</label>
                        <select name="nomeInsumo" id="nomeInsumo">
                            <option>Selecione uma opição</option>
                            <option value="0">muda alface</option> 
                            <option value="1">muda beterraba</option>
                            <option value="2">adubo nitrogênado</option>
                            <option value="3">adubo fosfatado</option>
                            <option value="4">adubo potássico</option>
                            <option value="5">pesticida</option>
                        </select>
                    </div>
                    <button type="submit">
                        <img src="../../public/imagem/mais.png" alt="Adicionar">
                    </button>
                </div>

                <table class="table-Detalhe">
                    <tr class="head">
                        <th></th>
                        <th>Nome</th>
                        <th>Validade</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                    </tr>
                    <tr>
                        <th class="lixo">
                            <button>
                                <img src="../../public/imagem/lixo.png" alt="Lixo">
                            </button>
                        </th>
                        <td>muda de alface</td>
                        <td>15/09/2020</td>
                        <td>50 mudas</td>
                        <td>R$ 100.00</td>
                    </tr>
                    <tr>
                        <th class="lixo">
                            <button>
                                <img src="../../public/imagem/lixo.png" alt="Lixo">
                            </button>
                        </th>
                        <td>muda de beterraba</td>
                        <td>15/09/2020</td>
                        <td>50 mudas</td>
                        <td>R$ 300.00</td>
                    </tr>
                    <tr>
                        <th class="lixo">
                            <button>
                                <img src="../../public/imagem/lixo.png" alt="Lixo">
                            </button>
                        </th>
                        <td>semente cenoura</td>
                        <td>15/09/2020</td>
                        <td>7 Kg</td>
                        <td>R$ 100.00</td>
                    </tr>
                </table>
                <div class="foot-dados-Botton">
                    <div class="aviso-foot">
                         <img src="../../public/imagem/aviso.png" alt="Aviso">
                         <p>Caso não tenha achado o insumo é possivel adiciona-lo.</p>
                    </div>
                    <a href="compraCriarInsumo.html">
                        <img src="../../public/imagem/insumo.png" alt="Insumo">
                        <p>Criar Insumo</p>
                    </a>
                </div> 
            </fieldset>

            <button type="submit" class="button-Finalizar">
                <a href="compraFinalizarCompra.html">Finalizar Compra</a>
            </button>
            
        </form> 
    </div>
</body>
</html>