<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="/celeiro">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="/armazem">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="/compra">
                <img src="/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="/venda">
                <img src="/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/colaborador">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/estufa">
                <img src="/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/relatorio">
                <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/atividade">
                <img src="/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="/">
                <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="/perfil">
                <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">

        <h1>Estufa
            <a href="/estufa">
                <img src="/imagem/voltar.png" alt="Voltar">
                Voltar
            </a>
        </h1>

        <form action="/colherInsumo" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Produto</legend>
                </div>
                <div class="read-block">
                    <label for="nomeProduto">Nome do Produto:</label>
                    <p class="input">{{produto.nome_Hortalica}}</p>
                </div>
               <div class="write-block">
                    <label for="quantProduto">Quantidade de produto Colido:</label>
                    <input type="number" id="quantProduto" name="quantProduto" min='1' required>
                </div>
                <div class="read-block">
                    <label for="dtPlantio">Data de Plantio:</label>
                    <p class="input">{{produto.dt_Plantio}}</p>
                </div> 
                <div class="read-block">
                    <label for="diasProducao">Dias de Produção:</label>
                    <p class="input">{{days}}</p>
                </div>
                <div class="read-block">
                    <label for="nomeColaborador">Nome do {{produto.tipo_Usuario}}:</label>
                    <p class="input">{{produto.nome_Usuario}}</p>
                </div>

            </fieldset>
            <div class="foot-dados-Botton">
                <div class="aviso-foot">
                    <img src="/imagem/aviso.png" alt="Aviso">
                    <p>Se o produto já estivar pronto para colher.</p>
               </div>

                <button class="button-colher">
                    <img src="/imagem/hortalica.png" alt="Insumo">
                    <p>Colher Produto</p>
                </button>
            </div> 

        </form>
    </div>
</body>
</html>