<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css"> 
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="/celeiro">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="/armazem">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="/compra">
                <img src="/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="/venda">
                <img src="/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/colaborador">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/estufa">
                <img src="/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/relatorio">
                <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/atividade">
                <img src="/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="/">
                <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="/perfil">
                <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Estufa 
            <a href="estufa.html">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form method="UPDATE">
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Inserção dos Insumo</legend>
                </div>

                <div class="write-block">
                    <label for="nomeInsumo">Nome do Insumo:</label>
                    <select name="nomeInsumo" id="nomeInsumo" required>
                        <option>Selecione uma opição</option>
                        <option value="0">muda alface</option> 
                        <option value="1">muda beterraba</option>
                        <option value="2">adubo nitrogênado</option>
                        <option value="3">adubo fosfatado</option>
                        <option value="4">adubo potássico</option>
                        <option value="5">pesticida</option>
                    </select>
                </div>
                <div class="write-block">
                    <label for="quntInsumo">Quantidade de Insumo:</label>
                    <input type="text" id="quntInsumo" name="quntInsumo" value="2 Kg">
                </div>
                <div class="write-block">
                    <label for="dtUsoInsumo">Data de Uso:</label>
                    <input type="date" id="dtUsoInsumo" name="dtUsoInsumo" value="2020-09-09" readonly>
                </div>
                <div class="read-block">
                    <label for="nomeColabodardor">Nome do Colaborador:</label>
                    <input type="text" id="nomeColabodardor" name="nomeColabodardor" value="Katia Pereira" readonly>
                </div>

                <div class="foot-dados-Botton">
                    <div class="aviso-foot">
                         <img src="/imagem/aviso.png" alt="Aviso">
                         <p>Caso não tenha achado o insumo é possivel compra-lo.</p>
                    </div>
                    <a href="compraComprar.html">
                        <img src="/imagem/insumo.png" alt="Insumo">
                        <p>Comprar Insumo</p>
                    </a>
                </div> 
            </fieldset>

            <button type="submit" class="button-Salvar">
                <a href="estufa.html">Salvar</a>
            </button>       
        </form>

    </div>
</body>
</html>