<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/homeStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">        
            <a href="/home" class="button-menu">
                <img src="/imagem/menu/home.png" alt="Página Pricipal">
                <p>Página Principal</p>
            </a>
       
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
             </a>
             <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
             </a>
             <a href="/financas" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
             </a>
              
            <a href="/" class="button-menu">
                <img src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>              
             </a>             
        </div>   
        
    </div>
    
    <div class="main">
        <div class="head">
            <h1>Página Principal</h1>
            <p name="email">{{ email }}</p>
        </div>
        

        <div class="show-container">
            <div class="title">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </div>
            <p>Número de insumo dispónível:</p>
            <div class="number">
                <p name="numItemCeleiro">{{ numCeleiro }}</p>
            </div>
        </div>
        <div class="show-container">
            <div class="title">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazem</p>
            </div>
            <p>Número de hortaliças dispónível:</p>
            <div class="number">
                <p name="numItemArmazem" >{{ numArmazem }}</p>
            </div>
        </div>

        <div class="show-container">
            <div class="title">
                <img src="/imagem/menu/estufa.png" alt="Estufa">
                <p>Estufa</p>
            </div>
            <p>Número de hortaliças sendo produzido:</p>
            <div class="number">
                <p name="numItemProducao" >{{ numEstufa }}</p>
            </div>
        </div>

        <div class="show-container">
            <div class="title">
                <img src="/imagem/menu/atividade.png" alt="Atividade">
                <p>Atividade</p>
            </div>
            <p>Número de atividades pendentes:</p>
            <div class="number">
                <p name="numAtividade">{{ numAtividade }}</p>
            </div>
        </div>

        
    </div>
</body>
</html>