<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/loginStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>


</head>
<body>
    <div class="conteiner-access">
        <form action="/access" method="POST">
            <div class="head-access">
                <h1>Acesse sua plantação por aqui</h1>
            </div>
            <div>
                <p id="message">{{ message }}</p>
            </div>
            <div class="input-block">
                <label for="email">Email</label>
                <input name="email" id="email" required>
            </div>
            <div class="input-block">
                <label for="senha">Senha</label>
                <input name="senha" id="senha" type="password" required>
            </div>

            <button class="botao" type="submit">Entrar</button>

            <!-- <a href="esqueceuSenha.html">Esqueci minha senha</a> -->
        </form>
    </div>

    <div class="conteiner-makefarm">
        <div class="logo">
            <img src="/imagem/logo.png" alt="">
            <p>Gerenciador de Plantação Agrícola</p>
        </div>
        <a class="make-manager" href="/cadastro">
            <p>
                Criar um Gerenciador
            </p> 
        </a>
    </div>

</body>
</html>