<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="/celeiro">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="/armazem">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="/compra">
                <img src="/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="/venda">
                <img src="/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/colaborador">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/estufa">
                <img src="/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/relatorio">
                <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/atividade">
                <img src="/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="/">
                <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="/perfil">
                <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Venda
            <a href="venda.html">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form action="/escolherHortalica" method="POST">
            <fieldset class="dados-Top">
                <div class="read-block">
                    <label for="nomeCliente">Cliente da Venda:</label>
                    <p class="input">{{cliente}}</p>
                </div>
            </fieldset>
            
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Selecione uma Hortaliça</legend>
                </div>
                <div class="select-block">
                    <div class="select">
                        <label for="codPosicao">Nome da Hortaliça:</label>
                        <select name="codPosicao" id="codPosicao" required>
                            <option value="" disable="" hidden="">Selecione uma opção</option> 
                            {%for hortalica in listaHortalica%}
                                <option value={{hortalica.cod_Posicao_Armazem}}>{{hortalica.nome_Hortalica}}</option>
                            {%endfor%}  
                        </select>
                    </div>
                    <button type="submit">
                        <img src="/imagem/procurar.png" alt="Adicionar">
                    </button>
                </div>
            </fieldset>
        </form>
        
        <form action="/adicionarHortalica" method="POST">
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da Hortaliças</legend>
                </div>
                <div class="read-block">
                    <label for="nomeHortalica">Nome da Hortaliça:</label>
                   <p class="input">{{hortalica.nome_Hortalica}}</p>
                </div>
                <div class="write-block">
                    <label for="quantHortalica">Quantidade em <strong>{{hortalica.contagem_Hortalica}}</strong>:</label>
                    <input type="number" name="quantHortalica" min='1' max={{quantidade_Restante}} required>
                </div>
                <div class="read-block">
                    <label for="valoHortalica">Valor da <strong>{{hortalica.contagem_Hortalica}}</strong> de <strong>{{hortalica.nome_Hortalica}}</strong>:</label>
                    <p class="input">R$ {{hortalica.valor_Hortalica}}</p>
                </div>   
                <button type="submit" class="button-adicionar"> <img src="/imagem/mais.png" alt="Adicionar">  <p>Adicionar na Lista</p>  </button>
            </fieldset> 
        </form>
        
        <form>
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Lista da Venda</legend>
                </div>

                <table class="table-Detalhe">
                    <tr class="head">
                        <th></th>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                    </tr>
                    {%for item in arrayItensVenda%}
                        <tr>
                            <td>{{loop.index0}}</td>
                            <td>{{item.nome_Hortalica}}</td>
                            <td>{{item.quant_Vendida}} {{item.contagem_Hortalica}}</td>
                            <td>R$ {{item.valor_Hortalica}}</td>
                        </tr>
                    {%endfor%}
                </table>
            </fieldset>            
        </form> 

        <button type="submit" class="button-Finalizar">
            <a href="/finalizarVenda">Finalizar Venda</a>
        </button>
    </div>
</body>
</html>