<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="/celeiro">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="/armazem">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="/compra">
                <img src="/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="/venda">
                <img src="/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/colaborador">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/estufa">
                <img src="/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/relatorio">
                <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/atividade">
                <img src="/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="/">
                <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="/perfil">
                <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Venda
            <a href="/escolherHortalica">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
        
        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados da Venda</legend>
                </div>
                <div class="read-block">
                    <label for="nomeColaborador">Nome do {{usuario.tipo_Usuario}}:</label>
                    <p class="input">{{usuario.nome_Usuario}}</p>
                </div>
                <div class="read-block">
                    <label for="dataCompra">Data da Venda:</label>
                    <p class="input">{{data}}</p>
                </div>
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados do Clinte</legend>
                </div>
                <div class="read-block">
                    <label for="nomeCliente">Nome do Cliente:</label>
                    <p class="input">{{cliente.nome_Cliente}}</p>
                </div>
                <div class="read-block">
                    <label for="docCliente">Documento do Cliente:</label>
                    <p class="input">{{cliente.doc_Cliente}}</p>
                </div>
                <div class="read-block">
                    <label for="telefoneCliente">Telefone do Cliente:</label>
                    <p class="input">{{cliente.telefone_Cliente}}</p>    
                </div>
                <div class="read-block">
                    <label for="cepCliente">CEP do Cliente:</label>
                    <p class="input">{{cliente.cep_Cliente}}</p>
                </div>
                <div class="read-block">
                    <label for="emailCliente">E-mail do Cliente:</label>
                    <p class="input">{{cliente.email_Cliente}}</p>
                </div>
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da Hortaliça:</legend>
                </div>
                <table class="table-Detalhe">
                    <tr class="head">
                        <th></th>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                    </tr>
                    {%for item in arrayItensVenda%}
                        <tr>
                                <td>{{loop.index0}}</td>
                            <td>{{item.nome_Hortalica}}</td>
                            <td>{{item.quant_Vendida}} {{item.contagem_Hortalica}}</td>
                            <td>R$ {{item.valor_Hortalica}}</td>
                        </tr>
                    {%endfor%}
                    
                </table>
                <div class="read-block-botton">
                    <label for="totalCompra">Total da Compra: </label>
                    <p class="button-input"> <strong>R$ {{total}}</strong></p>
                </div>
            </fieldset>
            
            <div class="botton-foot">
                <button type="submit" class="button-Cancelar">
                    <a href="/venda">Cancelar</a>
                </button>  

                <button type="submit" class="button-Salvar">
                    <a href="/salvarVenda">Salvar</a>
                </button>  
            </div>

        </form> 
    </div>
</body>
</html>