<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>

        <button class="button-menu">
            <a href="/celeiro">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                Celeiro
            </a>
        </button>

        <button class="button-menu">
            <a href="/armazem">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                Armazém
            </a>
        </button>

        <button class="button-menu">
            <a href="/compra">
                <img src="/imagem/menu/compra.png" alt="Compra">
                Compra
            </a>
        </button> 

        <button class="button-menu">
            <a href="/venda">
                <img src="/imagem/menu/vender.png" alt="Venda">
                Venda
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/colaborador">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                Colaborador
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/estufa">
                <img src="/imagem/menu/estufa.png" alt="Estufa">
                Estufa
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/relatorio">
                <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                Relatório
            </a>
        </button>
        
        <button class="button-menu">
            <a href="/atividade">
                <img src="/imagem/menu/atividade.png" alt="Atividade">
                Atividade 
            </a>
        </button>
        
        <button class="button-menu-exit">
           <a href="/">
                <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>
            </a> 
        </button>

        <button class="button-menu-perfil">
            <a href="/perfil">
                <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </a>
        </button>        
    </div>
    
    <div class="main">
        <h1>
            Venda
            <a href="vendaVender.html">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
        
        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Cliente</legend>
                </div>
                <div class="write-block">
                    <label for="nomeCliente">Nome do Cliente:</label>
                    <input type="text" id="nomeCliente" name="nomeCliente">
                </div>
                <div class="write-block">
                    <label for="docCliente">Documento do Cliete (CNPJ ou CPF) :</label>
                    <input type="text" id="docCliente" name="docCliente">
                </div>
                <div class="write-block">
                    <label for="telefoneCliente">Telefone do Cliente:</label>
                    <input type="text" id="telefoneCliente" name="telefoneCliente">
                </div>
                <div class="write-block">
                    <label for="cepClienter">CEP do Cliente:</label>
                    <input type="text" id="cepClienter" name="cepClienter">
                </div>
            </fieldset>

            <button type="submit" class="button-Salvar">
                <a href="vendaVender.html">Salvar</a>
            </button>
        </form> 
    </div>
</body>
</html>