<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">        
            <a href="/home" class="button-menu">
                <img src="/imagem/menu/home.png" alt="Página Pricipal">
                <p>Página Principal</p>
            </a>
       
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
             </a>
             <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
             </a>
             <a href="/financas" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
             </a>
              
            <a href="/" class="button-menu">
                <img src="/imagem/menu/sair.png" alt="Sair">
                <p>Sair</p>              
             </a>             
        </div>   
        
    </div>
    
    <div class="main">
        <h1>Finanças</h1>

        <table id="tabela-conta">
            <a href="/criarFinanciamento" id="novo-financiamento" class="button-top">
                <img src="/imagem/financiamento.png" alt="Novo Financiamento">
                <p>Novo Financiamento</p>
            </a>
    
            <a href="/cadastrarConta" id="nova-conta" class="button-top">
                <img src="/imagem/conta.png" alt="Nova Conta">
                <p>Nova Conta</p>
            </a>

            <tr class="title">
                <td class="title-col" colspan="2"> Financimento</th>
                <td class="title-col" colspan="2">Contas a pagar</th>
            </tr>
            <tr>
                <td class="indent">Nome:</td>
                <td class="indent">Valor:</td>
                <td class="indent">Nome:</td>
                <td class="indent">Valor:</td>
            </tr>
            <tr>
                <td class="valor">{{Financimanto}}</td>
                <td class="valor">R$ {{valor}}</td>
                <td class="valor">{{Salario}}</td>
                <td class="valor">R$ {{valor}}</td>
            </tr>
            <tr>
                <td class="button">Saldo:</td>
                <td class="button">R$ {{valor}}</td>
                <td class="button">Total a pagar:</td>
                <td class="button">R$ {{valor}}</td>
            </tr>
        </table>       

        <a href="/compra" id="button-compra" class="button-footer">
            <img src="/imagem/fornecedor.png" alt="Comprar">
            <p>Compra</p>
        </a>

        <a href="/venda" id="button-venda" class="button-footer">
            <img src="/imagem/cliente.png" alt="Vender">
            <p>Venda</p>
        </a>
    </div>
</body>
</html>