<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Venda </br> {{dadosVenda.tipo_venda}}
            <a href="/escolherHortalica">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form action="/apresentarVenda" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Adicionar itens na compra do <strong>{{dadosVenda.nome_cliente}}</strong></legend>
                </div>

                <div class="radio-block">
                    <table class="table-Detalhe" id="tabela-venda">
                        <tr class="head">
                            <th></th>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                        </tr>
                        {%for item in itensVenda%}
                            <tr>
                                <td style="width: 1rem;"> <a href={{item.rota_excluir}}><img src="/imagem/lixo.png" alt="apagar"></a> </td>
                                <td style="width: 2rem;">{{item.nome_hortalica}}</td>                                    
                                <td style="width: 2rem;" class="input"> <input class="quantProduto" type="number" name="quantProduto"  step=".01"min=".1" max={{item.quantidade_hortalica}} placeholder="0.00" required> {{item.contagem_hortalica}}</td>
                                <td style="width: 10rem;" class="input"> R$<input  class="valorProduto" type="number" name="valorProduto"  step=".01"min=".1" placeholder="0.00" required> POR {{item.contagem_hortalica}}</td>
                            </tr>
                        {%endfor%}
                    </table>
                    
                </div>

                <button type="submit" class="btn_calcular" name="btn_calcular">Finalizar</button>
            </fieldset>
        </form>
        {%if obs == 0%}

        {%else%}
        
        <form>
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Lista da Compras</legend>
                </div>

                <table class="table-Detalhe">
                    <tr class="head">
                        <th>Plano Produção</th>
                        <th>Produto</th>
                    </tr>
                    {%for item in listaCompra%}
                        <tr>
                            <td>{{item.nome_plano}}</td>
                            <td>{{item.nome_item}}</td>
                        </tr>
                    {%endfor%}
                </table>
        </form>

        {%endif%}
        
    </div>
</body>
</html>