<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Finalizando Venda
        </h1>

        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Itens da Venda</legend>
                </div>
                
                <table class="table-Detalhe">
                    <tr class="head">
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Total por produto</th>
                    </tr>
                    {%for item in listaProdutos%}
                        <tr>
                            <td>{{item.nome_hortalica}}</td>
                            <td> {{item.quantidade_produto}}</td>
                            <td>R${{item.valor_produto}}</td>
                        </tr>
                    {%endfor%} 
                </table>
                
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da Venda</legend>
                </div>
                
                <div class="read-block">
                    <label>Nome do Cliente:</label>
                    <p class="input">{{venda.nome_cliente}}</p>
                </div>
                <div class="read-block">
                    <label>Telefone do Cliente:</label>
                    <p class="input">{{venda.telefone_cliente}}</p>    
                </div>
                <div class="read-block">
                    <label>Data da Venda:</label>
                    <p class="input">{{venda.data_venda}}</p>    
                </div>
                <div class="read-block">
                    <label>Total da Venda:</label>
                    <p class="input">R$ {{venda.total_venda}}</p>
                </div>
                
            </fieldset>
            
        </form>
    
        <form action="/finalizarVenda" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Pagamento</legend>
                </div>

                </br>

                <div class="radio-block">
                    <label for="tipoPagamento">Tipo do Pagamento:</label>
                    <p>
                        <label onclick="vista()">
                            <input type="radio" name="tipoPagamento" value="VISTA"> Pagamento à VISTA
                        </label>
                    </p>
                    <p>
                        <label onclick="prazo()">
                            <input type="radio" name="tipoPagamento" value="PRAZO" checked> Pagamento à PRAZO
                        </label>
                    </p>
                </div>

                <div id="parcelamento">

                    <div class="mix-write-block">
                        <label for="parcelamento">Número de parcelas  |  Data da primeira parcela:</label>
                        <input style="width: 26%; " type=number name="numParcelas" min="2" >
                           
                        <input style="width: 50%; margin-left: 1%;" type="date" name="diaPagamento" id="diaPagamento" placeholder="Dia da primeita parcela">
                    </div>
    
                </div>

                

            </fieldset>  
            
            <p  style="font-size: 2rem; font-family: Poppins; color: red;" >{{mensagem}}

            <button type="submit" class="btn_calcular" name="btn_calcular">Concluir Venda</button>

        </form> 


        

        
    </div>
</body>

<script language="JavaScript">
    function vista() {
        document.getElementById('parcelamento').style.visibility = 'hidden';
        document.getElementById('valorjuros').style.visibility = 'hidden';
    }

    function prazo() {
        document.getElementById('parcelamento').style.visibility = 'visible';
        document.getElementById('valorjuros').style.visibility = 'visible';
    }

    function semFrete() {
        document.getElementById('frete').style.visibility = 'hidden';
    }

    function comFrete() {
        document.getElementById('frete').style.visibility = 'visible';
    }

    function semJuros() {
        document.getElementById('valorjuros').style.visibility = 'hidden';
    }

    function comJuros() {
        document.getElementById('valorjuros').style.visibility = 'visible';
    }
</script>

</html>