<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Venda
            <a href="/escolherHortalica">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
        
        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados da Venda</legend>
                </div>
                <div class="read-block">
                    <label for="nomeColaborador">Nome do {{usuario.tipo_usuario}}:</label>
                    <p class="input">{{venda.nome_usuario}}</p>
                </div>
                <div class="read-block">
                    <label for="dataCompra">Data da Venda:</label>
                    <p class="input">{{venda.dt_venda}}</p>
                </div>
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados do Clinte</legend>
                </div>
                <div class="read-block">
                    <label for="nomeCliente">Nome do Cliente:</label>
                    <p class="input">{{venda.nome_cliente}}</p>
                </div>
                <div class="read-block">
                    <label for="telefoneCliente">Telefone do Cliente:</label>
                    <p class="input">{{venda.telefone_cliente}}</p>    
                </div>
                <div class="read-block">
                    <label for="cepCliente">CEP do Cliente:</label>
                    <p class="input">{{venda.cep_cliente}}</p>
                </div>
                <div class="read-block">
                    <label for="emailCliente">E-mail do Cliente:</label>
                    <p class="input">{{venda.email_cliente}}</p>
                </div>
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da Venda</legend>
                </div>
                <div class="read-block">
                    <label>Data da Venda:</label>
                    <p class="input">{{venda.dt_venda}}</p>
                </div>
                <div class="read-block">
                    <label>Data da Entrega:</label>
                    <p class="input">{{venda.dt_entrega}}</p>    
                </div>
                <div class="read-block">
                    <label>Tipo de Entrega:</label>
                    <p class="input">{{venda.tipo_entrega}}</p>
                </div>
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>LIsta de Produtos:</legend>
                </div>
                <table class="table-Detalhe">
                    <tr class="head">
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor Total</th>
                    </tr>
                    {%for item in listaProdutos%}
                        <tr>
                            <td>{{item.nome_hortalica}}</td>
                            <td>{{item.quantidade_produto}}</td>
                            <td>R$ {{item.valor_produto}} </td>
                        </tr>
                    {%endfor%}
                    
                </table>
                <div class="read-block-botton">
                    <label for="totalCompra">Total da Venda: </label>
                    <p class="button-input"> <strong>R$ {{venda.total_venda}}</strong></p>
                </div>
            </fieldset>
            
        </form> 
    </div>
</body>
</html>