<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">
            <button id="celeiro" class="button-menu">
                <a href="/celeiro">
                    <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                    Celeiro
                </a>
            </button>

            <button id="estufa" class="button-menu">
                <a href="/estufa">
                    <img src="/imagem/menu/estufa.png" alt="Estufa">
                    Estufa
                </a>
            </button>

            <button id="armazem" class="button-menu">
                <a href="/armazem">
                    <img src="/imagem/menu/armazem.png" alt="Armazem">
                    Armazém
                </a>
            </button>

            <button id="compra" class="button-menu">
                <a href="/compra">
                    <img src="/imagem/menu/compra.png" alt="Compra">
                    Compra
                </a>
            </button> 

            <button id="venda" class="button-menu">
                <a href="/venda">
                    <img src="/imagem/menu/vender.png" alt="Venda">
                    Venda
                </a>
            </button>
            
            <button id="colaborador" class="button-menu">
                <a href="/colaborador">
                    <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                    Colaborador
                </a>
            </button>
                        
            <button id="relatorio" class="button-menu">
                <a href="/relatorio">
                    <img src="/imagem/menu/relatorio-seo.png" alt="Relatório">
                    Relatório
                </a>
            </button>
            
            <button id="atividade" class="button-menu">
                <a href="/atividade">
                    <img src="/imagem/menu/atividade.png" alt="Atividade">
                    Atividade 
                </a>
            </button>

            <button id="ajuda" class="button-menu">
                <a href="/atividade">
                    <img src="/imagem/menu/ajuda.png" alt="Atividade">
                    Ajuda 
                </a>
            </button>
            
        </div>   
        <div id="footer">
            <button class="button-menu-exit">
                <a href="/">
                    <img class="footer" src="/imagem/menu/sair.png" alt="Sair">
                    <p>Sair</p>
                </a> 
            </button>

            <button class="button-menu-perfil">
                <a href="/perfil">
                    <img class="footer" src="/imagem/menu/perfil.png" alt="Perfil">
                    <p>Perfil</p>
                </a>
            </button> 
        </div>
    </div>
    
    <div class="main">
        <h1>
            Compra
            <a href="/compra">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
               

        <form action="/escolherInsumo" method="POST">
            <fieldset class="dados-Top">
                <div class="read-block">
                    <label for="nomeFornecedor">Fornecedor da Compra:</label>
                    <p class="input">{{fornecedor}}</p>
                </div>
            </fieldset>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Busca de Insumo</legend>
                </div>

                <div class="search-block">
                    <div class="select-block">
                        <div class="select">
                            <label for="codInsumo">Insumo:</label>
                            <select name="codInsumo" id="codInsumo">
                                <option value="" disable="" hidden="">Selecione uma opção</option> 
                                {%for insumo in listaInsumo%}
                                    <option value={{insumo.cod_Insumo}}>{{ insumo.nome_Insumo }}</option>
                                {%endfor%}  
                            </select>
                        </div>
                        <button type="submit">
                            <img src="/imagem/procurar.png" alt="Adicionar">
                        </button>
                    </div>
                </div>        
            </fieldset>

            <div class="foot-dados-Botton">
                <div class="aviso-foot">
                    <img src="/imagem/aviso.png" alt="Aviso">
                     <p>Caso não tenha achado o insumo é possivel adiciona-lo para esse fornecedor.</p>
                </div>
                <a href="/adicionarInsumo">
                    <img src="/imagem/insumo.png" alt="Insumo">
                    <p>Adicionar Insumo</p>
                </a>
            </div>
        </form>

        <form action="/adicionarItem" method="POST">
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados do item da compra</legend>
                </div>
                <div class="read-block">
                    <label for="nomeInsumo">Nome do Insumo:</label>
                    <p class="input">{{nomeInsumo}}</p>
                </div>
                <div class="write-block">
                    <label for="quantInsumo">Quantidade em <strong>{{contagemInsumo}}</strong> :</label>
                    <input type="number" id="quantInsumo" name="quantInsumo" required>
                </div>
                <div class="write-block">
                    <label for="valorInsumo">Valor do Insumo em <strong>1 {{contagemInsumo}}</strong>:</label>
                    <input type="number" id="valorInsumo" name="valorInsumo" required>
                </div>
                <button type="submit" class="button-adicionar"> <img src="/imagem/mais.png" alt="Adicionar">  <p>Adicionar na Lista</p>  </button> 
            </fieldset>
        </form>
        
        <form>
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Lista da Compra</legend>
                </div>
                <table class="table-Detalhe">
                    <tr class="head">
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                    </tr>
                    {%for Item in arrayItensCompra%}
                        <tr>
                            <td>{{Item.nome_Insumo}}</td>
                            <td>{{Item.quant_Total_Insumo}} {{Item.contagem_Insumo}}</td>
                            <td>R$ {{Item.valor_Insumo}}</td>
                        </tr>
                    {%endfor%}
                </table>
            </fieldset>
        </form>
        <button type="submit" class="button-Finalizar">
            <a href="/finalizaCompra">Finalizar Compra</a>
        </button>
    </div>
</body>
</html>