<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Selecionar Itens
            <a href="/criarPlanoProducao">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
        
        
        <form action="/adicionarItens" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Adicionar Itens para o plano <strong>{{dadosPlano.nome_plano}}</strong></legend>
                </div>
                    
                <div class="select-block">
                    <div class="select">
                        <label for="codItem">Nome do Item:</label>
                        <select style="width: 65rem;" name="codItem" id="codItem">
                            <option value="" disable="" hidden="">Selecione uma opção</option> 
                            {%for insumo in insumoLista%}
                                <option value={{insumo.cod_insumo}}>{{ insumo.nome_insumo }}</option>
                            {%endfor%}  
                        </select>
                    </div>
                </div>
                <div class="select-block">
                    <div class="select">
                        <label for="contagemItem">Contagem do Item:</label>
                        <select style="width: 65rem;" name="contagemItem" id="contagemItem">
                            <option value="" disable="" hidden="">Selecione uma opção</option> 
                            <option value="KG">KG</option> 
                            <option value="L">Litro</option>
                            <option value="U">Unidade</option>
                            <option value="SACA">Saca</option>
                        </select>
                    </div>
                </div>

                <div class="write-block">
                    <label for="vezesAplicacao">Quantidade(s) de vezes de aplicação:</label>
                    <input type="number" id="vezesAplicacao" name="vezesAplicacao" min="1" max={{totalDia}} required>
                </div>

               
                <button type="submit" class="btn_calcular" name="btn_calcular">Selecionar</button>
            </fieldset>

            <div class="foot-dados-Botton">
                <div class="aviso-foot">
                    <p>Caso não tenha achado o item é possivel cria-lo</p>
                </div>
                <div class="acoes-n-banco">
                    <a href="/criarItem" id="cadastrar-banco"> <p>Criar Insumo</p> </a>
                </div>
            </div>

        </form>

        {%if tamanhoLista==0 %}

        {%else%}
            <form>
                <fieldset class="foot-dados-Botton">
                    <table class="table-Detalhe">
                        <tr>
                            <th colspan="3">Itens Adicionados</th>
                        </tr>
                        <tr class="head">
                            <th>Nome</th>
                            <th>Quantidade </th>
                            <th>Dia Aplicação</th>
                        </tr>
                        {%for aplicacao in aplicacaoItem%}
                            <tr>
                                <td>{{aplicacao.nome_item}}</td>
                                <td>{{aplicacao.quantidade_item}} {{aplicacao.contagem_item}}</td>
                                <td>{{aplicacao.dia_aplicacao}}° dia</td>
                            </tr>
                        {%endfor%}  
                    </table>
                </fieldset>
            </form> 

            <div class="acoes-n-banco">
                <a href="/resultadoPlano" id="cadastrar-banco"> <p>Finalizar</p> </a>
            </div>
        {%endif%}
    </div>
</body>
</html>