<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Resultado Compra
        </h1>
    
        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Itens da Compra</legend>
                </div>
                
                <table class="table-Detalhe">
                    <tr class="head">
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Total por produto</th>
                    </tr>
                    {%for item in listaCompra%}
                        <tr>
                            <td> <strong>{{item.nome_produto}}</strong> - {{item.nome_fornecedor}}</td>
                            <td> {{item.quantidade_produto}} {{item.contagem01}} </td>
                            <td>R${{item.total}}</td>
                        </tr>
                    {%endfor%} 
                    <tr>
                        <td colspan="2">TOTAL DA COMPRA: </td>
                        <td>R$ {{dadosCompra.total_compra}}</td>
                    </tr>
                </table>
                
            </fieldset>

            
        </form>

        <form>
            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da Compra</legend>
                </div>

                <table class="table-Detalhe">
                    <tr class="head">
                        <th style="padding: 1rem 1rem ;" >Pagamento</th>
                        <th>Parcela Principal</th>
                        <th>Juros</th>
                        <th>Parcela Total</th>
                        <th>Saldo Devedor</th>
                    </tr>
                    {%for parcela in valoresParcelas%}
                        <tr>
                            <td> {{parcela.dia_pagamento}} </td>
                            <td> R${{parcela.parcela_principal}} </td>
                            <td> R${{parcela.juros}} </td>
                            <td> R${{parcela.parcela_total}} </td>
                            <td> R${{parcela.saldo_devedor}} </td>
                        </tr>
                    {%endfor%} 
                    
                </table>

                {%if dadosCompra.frete > 0%}

                <p id="obs">OBS.: Valor do frete ( R${{dadosCompra.frete}}.00 ) foi somado na primeira parcela.</p>
                 {%else%}
                 {%endif%}
            </fieldset>   

        </form> 

        <div class="botoes-fim-cadastro">
            <a href="/venda" id="cancelar-cadastro"> <p>Cancelar</p> </a>
            <a href="/finalizarCompra" id="cadastrar-cadastro"> <p>Cadastrar</p> </a>
        </div>  

    </div>
</body>


</html>