<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Entrada no Celeiro
            <a href={{rota_volta}}>
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form action="/entradaCeleiro" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados da Entrada</legend>
                </div>

                <div class="radio-block">
                    <table class="table-Detalhe" id="tabela-venda">
                        <tr class="head">
                            <th style="width: 15rem;"  >Item</th>
                            <th style="width: 20rem;" >Fornecedor</th>
                            <th>Quantidade</th>
                            <th>Validade</th>
                        </tr>
                        {%for item in insumosCompras%}
                            <tr>
                                <td>{{item.nome_insumo}}</td> 
                                <td>{{item.nome_fornecedor}}</td>                           
                                <td>{{item.quantidade_item}} {{item.contagem_item}}</td>
                                <td class="input"><input style="width: 15.3rem;" class="valorProduto" type="date" name="validade"  required> </td>
                            </tr>
                        {%endfor%}
                        {%for item in ferramentasCompras%}
                            <tr>
                                <td>{{item.nome_ferramenta}}</td> 
                                <td>{{item.nome_fornecedor}}</td>                                       
                                <td>{{item.quantidade_item}} {{item.contagem_item}}</td>
                                <td> *** </td>
                            </tr>
                        {%endfor%}
                    </table>
                    
                </div>
                
                <button type="submit" class="btn_calcular" name="btn_calcular">Registrar</button>
            </fieldset>
        </form>
        
    </div>
</body>
</html>