<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>

    <div class="main">
        <h1>
            Colaborador
            <a href="/colaborador">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form action="/criarColaborador" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Colaborador</legend>
                </div>
                <div class="write-block">
                    <label for="nomeColaborador">Nome:</label>
                    <input type="text" id="nomeColaborador" name="nomeColaborador" required>
                </div>
               <div class="write-block">
                    <label for="cpfColaborador">CPF Colaborador:</label>
                    <input type="text" id="cpfColaborador" name="cpfColaborador" required>
                </div>
                <div class="write-block">
                    <label for="telefoneColaborador">Telefone Colaborador:</label>
                    <input type="text" id="telefoneColaborador" name="telefoneColaborador" required>
                </div>
                <div class="write-block">
                    <label for="dtNasciColaborador">Data de Nacimento:</label>
                    <input type="date" id="dtNasciColaborador" name="dtNasciColaborador" required>
                </div> 
                <div class="write-block">
                    <label for="salario">Salário:</label>
                    <input type="number" id="salario" name="salario" placeholder="R$0000.00" required>
                </div> 
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da Acesso</legend>
                </div>
                <div class="write-block">
                    <label for="emailColaborador">Email Colaborador:</label>
                    <input type="text" id="emailColaborador" name="emailColaborador" required>
                </div>
                <div class="write-block">
                    <label for="senhaColaboradorI">Senha:</label>
                    <input type="password" id="senhaColaboradorI" name="senhaColaboradorI" required>
                </div>
                <div class="write-block">
                    <label for="senhaColaboradorII">Repitir senha:</label>
                    <input type="password" id="senhaColaboradorII" name="senhaColaboradorII" required>
                </div>
                <div class="write-block">
                    <label for="funcaoColaborador">Função do Colaborador:</label>
                    <select name="funcaoColaborador" id="funcaoColaborador" required>
                        <option selected disabled>Selecione uma opção</option>
                        <option value="Colaborador Financeiro">Colaborador Financeiro</option> 
                        <option value="Colaborador de Produção">Colaborador de Produção</option>
                    </select>
                </div>
            </fieldset>

            <p  style="font-size: 2rem; font-family: Poppins; color: red;" >{{mensagem}}
            
            <div class="botton-foot">

                <button type="submit" class="button-Salvar">
                    Salvar Cadastro
                </button>  
            </div>
        </form>        
    </div>
</body>
</html>