<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Colaborador
            <a href="/colaborador">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>

        <form>
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados do Colaborador</legend>
                </div>
                <div class="read-block">
                    <label for="nomeColaborador">Nome:</label>
                    <p class="input">{{colaborador.nome}}</p>
                </div>
               <div class="read-block">
                    <label for="cpfColaborador">CPF Colaborador:</label>
                    <p class="input">{{colaborador.cpf}}</p>
                </div>
                <div class="read-block">
                    <label for="telefoneColaborador">Telefone Colaborador:</label>
                    <p class="input">{{colaborador.telefone}}</p>
                </div>
                <div class="read-block">
                    <label for="dtNasciamntoColaborador">Data de Nascimento:</label>
                    <p class="input">{{colaborador.data_nascimento}}</p>
                </div> 
                <div class="read-block">
                    <label for="salarioCo">Salário do Colaborador:</label>
                    <p class="input">R${{colaborador.salario}}</p>
                </div> 
            </fieldset>

            <fieldset class="dados-Botton">
                <div class="title">
                    <legend>Dados da Acesso</legend>
                </div>
                <div class="read-block">
                    <label for="emailColaborador">Email Colaborador:</label>
                    <p class="input">{{colaborador.email}}</p>
                </div>
                <div class="read-block">
                    <label for="funcaoColaborador">Função do Colaborador:</label>
                    <p class="input">{{colaborador.tipo_usuairo}}</p>
                </div>
                <div class="read-block">
                    <label for="dtAdmissao">Data de Admissão:</label>
                    <p class="input">{{colaborador.data_admissao}}</p>
                </div>
            </fieldset>
        </form>        
        <div class="botoes-fim-cadastro">
            <a href="/inabilitarColaborador" id="cancelar-cadastro"> <p>Inabilitar</p> </a>
            <!-- <a href="/editarColaborador" id="cadastrar-cadastro"> <p>Editar</p> </a> -->
        </div>  
    </div>
</body>
</html>