<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/mainStyle.css">
    <link rel="stylesheet" href="/style/pagetable.css">
    <link rel="stylesheet" href="/style/formStyle.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <title>Veg</title>
</head>
<body>
    <div class="menu">
        <h1>Escolha uma opção</h1>
        <div class="botoes">               
            <a href="/balanco" class="button-menu">
                <img src="/imagem/menu/balanco.png" alt="Balanco">
                <p>Balanço</p>
            </a>

            <a href="/fluxoCaixa" class="button-menu">
                <img src="/imagem/menu/caixa.png" alt="Caixa">
                <p>Fluxo de Caixa</p>
            </a>
            <a href="/financiamento" class="button-menu">
                <img src="/imagem/menu/financas.png" alt="Finanças">
                <p>Financiamento</p>
            </a>
            <a href="/compra" class="button-menu">
                <img src="/imagem/menu/compra.png" alt="Compra">
                <p>Compra</p>
            </a>
            <a href="/venda" class="button-menu">
                <img src="/imagem/menu/venda.png" alt="Venda">
                <p>Venda</p>
            </a>
            <a href="/plantacao" class="button-menu">
                <img src="/imagem/menu/plantacao.png" alt="Plantação">
                <p>Plantação</p>
            </a>
            <a href="/celeiro" class="button-menu">
                <img src="/imagem/menu/celeiro.png" alt="Celeiro">
                <p>Celeiro</p>
            </a>
            <a href="/armazem" class="button-menu">
                <img src="/imagem/menu/armazem.png" alt="Armazem">
                <p>Armazém</p>
            </a>
            <a href="/colaborador" class="button-menu">
                <img src="/imagem/menu/colaborador.png" alt="Colaborador">
                <p>Colaborador</p>
            </a>
            <a href="/relatorio" class="button-menu">
                <img src="/imagem/menu/relatorio.png" alt="Relatório">
                <p>Relatório</p>
            </a>
            <div class="botoes-footer">
                <a href="/" class="button-menu">
                    <img src="/imagem/menu/sair.png" alt="Sair"> 
                </a>  
                <a href="/home" class="button-menu">
                    <img src="/imagem/menu/home.png" alt="Página Pricipal">
                </a> 
                <a href="/ajuda" class="button-menu">
                    <img src="/imagem/menu/ajuda.png" alt="Ajuda">
                </a>
                <a href="/perfil" class="button-menu">
                    <img src="/imagem/menu/perfil.png" alt="Perfil">         
                </a>  
            </div>
                       
        </div>   
        
    </div>
    
    <div class="main">
        <h1>
            Cadastrar Produção
            <a href="/Plantacao">
                <img src="/imagem/voltar.png" alt="">
                Voltar
            </a>
        </h1>
        
        <form action="/apresentarProducao" method="POST">
            <fieldset class="dados-Top">
                <div class="title">
                    <legend>Dados da Produção</legend>
                </div>

                <div class="radio-block">
                    <label for="objetivo">Objetivo da Produção:</label>
                    <p>
                        <label onclick="comItem()">
                            <input type="radio" id="comItem" name="objetivo" value="1" checked> Cumprir um Item das Venda
                        </label>
                    </p>
                    <p>
                        <label onclick="semItem()">
                            <input type="radio" id="semItem" name="objetivo" value="0"> Vendas Futuras 
                        </label>
                    </p>
                </div>

                <br>
                <br>

                <div id="com-item">
                    <div class="write-block">
                        <label for="itemVenda">Itens de Venda:</label>
                        <select name="itemVenda" id="itemVenda">
                            <option value="" disable="" hidden="">Selecione uma opção</option>
                            {%for item in itensVenda%}
                            <option value={{item.cod_item}} >{{item.quantidade_produto}} {{item.contagem_hortalica}} de <strong>{{item.nome_hortalica}}</strong> | {{item.nome_cliente}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>

                <div id="sem-item" style="visibility: hidden;">
                    <div class="write-block">
                        <label for="plano">Planos de Produção:</label>
                        <select name="plano" id="plano">
                            <option value="" disable="" hidden="">Selecione uma opção</option>
                            {%for plano in planos%}
                            <option value={{plano.cod_plano}}><strong>{{plano.nome_plano}}</strong> - PRODUÇÃO: em [{{plano.contagem_hortalica}}] de {{plano.nome_hortalica}} </option>
                            {%endfor%}
                        </select>
                    </div>

                    <div class="write-block">
                        <label for="quantidade">Quantidade de Hortaliças:</label>
                        <input type="number" id="quantidade" name="quantidade" min="1" step=".01" placeholder="000.00">
                    </div>
                </div>

                <p class="mensagem" style="color: red;">{{mensagem}}</p>

                <button type="submit" class="btn_calcular" name="btn_calcular">Continuar</button>
            </fieldset>                
        </form>        
    </div>

    
</body>
<script language="JavaScript">
    function semItem() {
        document.getElementById('sem-item').style.visibility = 'visible';
        document.getElementById('com-item').style.visibility = 'hidden';
    }

    function comItem() {
        document.getElementById('com-item').style.visibility = 'visible';
        document.getElementById('sem-item').style.visibility = 'hidden';
    }
</script>
</html>